<div th:fragment="product-card">
    <div class="card">
        <div class="card-body" style="height:100px;">
            <a th:href="@{/p/{productId}(productId=${product.id})}" class="stretched-link"></a>
            <h5 class="card-title clamp-text limited-title" th:text="${product.name}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" style="font-size:14px; margin-top: 6px;" th:text="'owner: ' +${product.user.name}"></h6>
            <form th:action="@{/products/delete}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:name="productId" th:value="${product.id}"/>
                <button type="submit" class="btn-close position-absolute top-0 end-0 me-2 mt-2" style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 0.8rem; --bs-btn-font-size: 0.8rem;"></button>
            </form>
        </div>
        <div class="card-footer bg-transparent border-0">                                      
        </div>
    </div>        
</div>