<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
<head>
    <div th:insert="~{fragments/header :: headerElement}"></div>
    <title th:text="${user.name}">FreshVotes Dashboard</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{fragments/header :: header}"></div>
        <div class="row">
            <div class="col-12 text-center" style="margin-top:80px;">
                <span th:text="${user.name}  + '\'s' + ' profile'" style="font-size:40px"></span>
                <form action="/products" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <fieldset>
                        <div class="col-12 text-center mb-5" style="margin-top:60px;">
                            <button class="btn btn-outline-info" id="createProduct" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">create a product</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
             
        <div th:if="${not #lists.isEmpty(userProducts)}" class="row">
            <div>
                <legend style="font-size:32px; margin-top: 80px;">Your Products</legend>                
            </div>
            <div th:each="product : ${userProducts}" class="col-lg-4 col-sm-6 col-6 mb-3">
                <div th:insert="~{fragments/productCard :: product-card(isDashboard=true)}"></div>
            </div>   
        </div>
    </div>
</body>
</html>
