<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
    <head>
        <div th:insert="~{fragments/header :: headerElement}"></div>
        <script type="text/javascript">
            $(function ()
            {
                $("button[id*='replyBtn-']").click(function()
                {
                    $("form[id*='replyForm-']:not(.d-none)").each(function()
                    {
                        let formId = $(this).prop("id")
                        $("#"+formId).addClass("d-none")
                    })
                    let commentId = $(this).prop("id").split("-")[1]
                    let formId = "replyForm-" + commentId

                    $("#"+formId).removeClass("d-none")
                })
            })
        </script>
        <script>
            function updateStatus(newStatus)
            {
                $('#selectedStatus').val(newStatus);
                $('#statusText').text(newStatus);            
            }
        </script>
        <script>
            function updateCheckboxes(first, second)
            { 
                let upvoteInput = document.createElement('input');
                    upvoteInput.type = 'hidden';
                    upvoteInput.name = 'upvote';
                    document.querySelector('form').appendChild(upvoteInput);
                
                if (first.checked)
                {
                    second.checked = false;
                }
                else if (second.checked)
                {
                    first.checked = false;
                }
                else
                {
                    upvoteInput.remove();
                }
            }
          </script>
        <title>FreshVotes features</title>
    </head>
    <body>
        <div class="container">
            <div th:insert="~{fragments/header :: header}"></div>
            <div class="row">
                <div style="height: 50px;">
                  
                </div>
              </div>
            <div class="row">
                <div class="col-3">  
                    
                </div>
                <div class="col-6 md-4">
                    <form action="" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:field="${feature.Id}"/>
                        <input type="hidden" th:field="${feature.product}"/>
                        
                        <div class="text-center">
                            <legend style="margin-bottom: 30px; font-size:30px">New Feature</legend>
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="col-12 col-sm-12 col-md-12 mx-auto">                    
                                <input type="text" th:field="${feature.title}" class="form-control" placeholder="title" th:disabled="${user.id != feature.user.id}"/>
                            </div>     
                        </div>
                        <div class="input-group mb-4">                
                            <textarea rows="4" th:field="${feature.description}" class="form-control" placeholder="description" th:disabled="${user.id != feature.user.id}"> </textarea>  
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="statusDropdownBtn" name="selectedStatus" th:disabled="${user.id != feature.user.id}">
                                        <span id="statusText" th:text="${feature.status}"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" onclick="updateStatus('Accepted')">Accepted</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="updateStatus('Not Accepted')">Not Accepted</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" th:field="${feature.status}" id="selectedStatus"/>

                            </div>
                            <div class="col-6 text-end" th:if="${user.id == feature.user.id}">
                                <button type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">Save feature</button>
                            </div>  
                        </div>
                    </form>

                    <form th:action="@{/products/{productId}/features/{featureId}/votes(productId=${feature.product.id},featureId=${feature.id})}" method="post">
                        <div th:text="${upvote}">
                             
                        </div>
                        <div th:text="${upvoteSum}">
                            
                        </div>
                                           
                        <div class="form-check">                                        
                            <input class="form-check-input" type="checkbox" id="vote" th:name="upvote" th:checked="${upvote}" onclick="updateCheckboxes(this, document.getElementById('downvote'))">
                            <label class="form-check-label" for="vote">
                                upvote
                            </label>
                          </div>
                          
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="downvote" th:name ="upvote" th:checked="${upvote} == false" th:value="!${upvote}" onclick="updateCheckboxes(this, document.getElementById('vote'))">
                            <label class="form-check-label" for="downvote">
                                downvote
                            </label>
                        </div>
                          

                        
                        <button type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">temporary button</button>
                    </form>

                    <div style="margin-top:2em; margin-bottom:2em">
                        <h2>Comments</h2>
                        <form th:action="@{/products/{productId}/features/{featureId}/comments(productId=${feature.product.id},featureId=${feature.id})}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                            <div class="input-group mb-4">
                                <textarea rows="4" th:field="${rootComment.text}" class="form-control" placeholder="leave a comment here"> </textarea>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">submit</button>
                            </div>
                        </form>
                        <hr/>
                        <div th:replace="~{fragments/comment :: commentThread}"></div>
                    </div>
                </div>
            </div>
        </div>       
    </body>
</html>