<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
    <head>
        <div th:insert="~{fragments/header :: headerElement}"></div>
        <title>FreshVotes Homepage</title>
    </head>
    <body>
        <div class="container">
            <div th:insert="~{fragments/header :: header}"></div>
            <div class="row">
                <div style="height: 50px;">
                  
                </div>
              </div>
            <div class="row">
                <div class="col-2">  
                    
                </div>
                <div class="col-8 text-center md-4">
                    <legend style="margin-top: 40px; font-size:44px">Make a difference</legend>

                    <legend style="margin-top: 20px; font-size:26px">
                        Join us and share your ideas with companies from all over the world.<br>
                        They are waiting for your suggestions!
                    </legend>
                </div>
                <div class="col-2">  
                    <div class="col-12 text-end mb-2">
                        <a href="/login" class="btn btn-outline-info" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1.0rem; --bs-btn-font-size: 0.8rem;">Login</a>
                    </div>
                </div>
            </div>


        </div>       
    </body>
</html>