<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
    <head>
        <div th:insert="~{fragments/header :: headerElement}"></div>
        <title>FreshVotes Homepage</title>
    </head>
    <body>
        <div class="container">
            <div th:insert="~{fragments/header :: header}"></div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-2">  
                    
                </div>
                <div class="col-8 text-center">
                    <legend style="margin-top: 40px; font-size:44px">Make a difference</legend>
                    <legend style="margin-top: 20px; font-size:26px">
                        Join us and share your ideas with companies from all over the world.<br>
                        They are waiting for your suggestions!
                    </legend>
                </div>
            </div>
        </div>       
    </body>
</html>