<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
    <head>
        <div th:insert="~{fragments/header :: headerElement}"></div>
    </head>
    <body>
        <div th:if="${product}!=null" class="container">
            <div th:insert="~{fragments/header :: header}"></div>
            <div class="row">
                <div style="height: 50px;">
                  
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <legend class="text-center" th:text="${product.name}" style="margin-bottom: 64px; margin-top: 64px; font-size:40px; word-wrap: break-word;"></legend>
                    
                    <div class="mb-5">
                        <form th:action="@{/products/{productId}/features(productId=${product.id})}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>           
                            <div class="row justify-content-center">
                                <div class="text-center mb-3">
                                    <button class="btn btn-outline-info" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">Create Feature Request</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    
                    <div th:if="${not #lists.isEmpty(popularFeatures)}" style="margin-bottom: 88px;">
                        <div class="row">
                            <legend style="font-size:32px">Popular Features</legend>                
                        </div>
                        <div id="popularFeaturesCarousel" class="carousel slide mb-3">
                            <div class="carousel-inner">
                                <div th:each="featureSlide, innerStatus : ${popularFeatures}" th:class="${innerStatus.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                    <div class="row d-flex align-items-stretch">
                                        <div th:each="feature : ${featureSlide}" class="col-6 mx-auto">
                                            <div th:insert="~{fragments/featureCard :: feature-card}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${popularFeatures.size() > 1}" class="carousel-indicators">
                                <button 
                                    th:each="featureSlide, slideIndex : ${popularFeatures}" type="button" data-bs-target="#popularFeaturesCarousel" th:data-bs-slide-to="${slideIndex.index}" 
                                    th:class="${slideIndex.index == 0} ? 'active' : ''" th:aria-label="'Slide ' + ${slideIndex.index + 1}" style="background-color: grey; height: 6px;">
                                </button>
                            </div>   
                        </div>
                    </div>
                    


                    <div class="mb-8">
                        <div th:if="${not #lists.isEmpty(newFeatures)}" style="margin-bottom: 88px;">
                            <div class="row">
                                <legend style="font-size:32px">New Features</legend>                
                            </div>
                            <div id="newFeaturesCarousel" class="carousel slide mb-3">
                                <div class="carousel-inner">
                                    <div th:each="featureSlide, innerStatus : ${newFeatures}" th:class="${innerStatus.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                        <div class="row d-flex">
                                            <div th:each="feature : ${featureSlide}" class="col-6 mx-auto">
                                                <div th:insert="~{fragments/featureCard :: feature-card}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${newFeatures.size() > 1}" class="carousel-indicators">
                                    <button 
                                        th:each="featureSlide, slideIndex : ${newFeatures}" type="button" data-bs-target="#newFeaturesCarousel" th:data-bs-slide-to="${slideIndex.index}" 
                                        th:class="${slideIndex.index == 0} ? 'active' : ''" th:aria-label="'Slide ' + ${slideIndex.index + 1}" style="background-color: grey; height: 6px;">
                                    </button>
                                </div>   
                            </div>
                        </div>
                    </div>
                        
                    <div class="text-center" style="font-size:24px; margin-top:50px" th:if="${product.features.isEmpty == false}">
                        <legend style="font-size:32px">All Features</legend>  
                    </div>                            
                    
                    <div th:each="feature: ${product.features}">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="card">
                                    <div class="card-body">
                                        <a th:href="@{/products/{productId}/features/{featureId}(productId=${product.id},featureId=${feature.id})}" class="stretched-link"></a>
                                        <h5 class="card-title limited-title" th:text="${feature.title}" style="font-size:24px; font-weight: bolder;"></h5>
                                        <h6 class="card-subtitle mb-2 text-muted" style="font-size:14px; margin-top: 6px;" th:text="'author: ' +${feature.user.name}"></h6>
                                        <p class="card-text clamp-text" th:text="${feature.description}" style="font-size:18px;"></p>
                                        <div th:if="${feature.user.id} == ${user.id}">
                                            <form th:action="@{/p/{productId}/{featureId}/delete(productId=${product.id},featureId=${feature.id})}" method="post">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <input type="hidden" th:name="productId" th:value="${product.id}"/>
                                                <input type="hidden" th:name="productId" th:value="${product.name}"/>
                                                <button type="submit" class="btn-close position-absolute top-0 end-0 me-2 mt-2" style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 0.8rem; --bs-btn-font-size: 0.8rem;"></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                 
                    </div>
                </div>    
            </div>
        </div>       
    </body>
</html>