<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
    <head>
        <div th:insert="~{fragments/header :: headerElement}"></div>
    </head>
    <body>
        <style>
        .card .btn-close
        {
            z-index: 1;
        }

        </style>
        <div th:if="${product}!=null" class="container">
            <div th:insert="~{fragments/header :: header}"></div>
            <div class="row">
                <div style="height: 50px;">
                  
                </div>
            </div>
            <div class="row">
                <div class="col-2">  
                    
                </div>
                <div class="col-8">
                    <div class="text-center mb-2">
                        <legend th:text="${product.name}" style="margin-bottom: 60px; font-size:40px"></legend>
                        
                        <form th:action="@{/products/{productId}/features(productId=${product.id})}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>           
                            <div class="row justify-content-center">
                                <div class="col-6 mb-3">
                                    <button class="btn btn-outline-info" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">Create Feature Request</button>
                                </div>
                            </div>
                        </form>
                        <div style="font-size:24px; margin-top:50px" th:if="${product.features.isEmpty == false}">
                            <span>Feature requests</span>
                        </div>             
                    </div>
                    
                    
                    <div th:each="feature: ${product.features}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <a th:href="@{/products/{productId}/features/{featureId}(productId=${product.id},featureId=${feature.id})}" class="stretched-link"></a>
                                <h5 class="card-title text-center" th:text="${feature.title}" style="font-size:24px; font-weight: bolder;"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" style="font-size:14px">description</h6>
                                <p class="card-text" th:text="${feature.description}"></p>
                                <div th:if="${feature.user.id} == ${user.id}">
                                    <form th:action="@{/p/{productId}/{featureId}/delete(productId=${product.id},featureId=${feature.id})}" method="post">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <input type="hidden" th:name="productId" th:value="${product.id}"/>
                                        <input type="hidden" th:name="productId" th:value="${product.name}"/>
                                        <button type="submit" class="btn-close position-absolute top-0 end-0 me-2 mt-2" style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 0.8rem; --bs-btn-font-size: 0.8rem;"></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">  
                    
                </div>
            </div>
        </div>       
    </body>
</html>