<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" data-bs-theme="dark">
    <head>
        <div th:insert="~{fragments/header :: headerElement}"></div>
        <title th:text="${product.name}"></title>
    </head>
    <body>
        <div class="container" th:if="${product != null}">
            <div th:insert="~{fragments/header :: header}"></div>
            <div class="row">
                <div class="col-3">  
                    
                </div>
                <div class="col-6 text-center" style="margin-top:50px;">
                    <div th:if="${product.name==null}">
                        <legend style="margin-bottom: 40px; font-size:40px">New Product</legend>
                    </div>
                    <div th:unless="${product.name==null}" class="clamp-text">
                        <legend th:text="${product.name}" style="margin-bottom: 40px; font-size:40px; word-wrap: break-word;"></legend>
                    </div>
                    
                    <form action="" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:field="${product.id}"/>
                        <input type="hidden" th:field="${product.user}"/>
                        <div class="input-group mb-3">
                            <div class="col-12">                    
                                <input type="text" th:field="${product.name}" class="form-control" placeholder="Product name" maxlength="64"/>
                            </div>     
                        </div>

                        <div class="input-group mb-5">
                            <div class="col-12">                    
                                <textarea rows="4" th:field="${product.description}" class="form-control" placeholder="description" maxlength="512"></textarea>
                            </div>     
                        </div>
                        
                        <div class="row" style="margin-left: 0px;">
                            <div class="col-6 mb-4 text-start form-check form-switch">
                                <label class="form-check-label" for="published1">public</label>
                                <input type="checkbox" class="form-check-input" role="switch" th:field="${product.published}">
                            </div>
                            <div class="col-6 mb-3 text-end">
                                <button class="btn btn-outline-info" style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.0rem;">Save product</button>
                            </div>
                        </div>                 
                    </form>
                </div>
            </div>
        </div>       
    </body>
</html>